# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local files
*.log
.noteflow.txt

# Virtual environments
venv/
.env/